.cursor-pointer {
    cursor: pointer;
}
.width-half {
    width: 50% !important;
}
.p-l-60 {
    padding-left: 60px !important;
}

.m-t-16 {
    margin-top: 16px !important;
}

.m-x-10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.table tfoot tr td {
    font-weight: 600;
    border-top: 1px solid #aeaeae;
}

.table-nested tbody > tr:first-child td {
    border-top: none !important;
}

.width-125 {
    width: 125px !important;
}

.width-10ch {
    width: 10ch !important;
}

.widget-list-content .widget-list-hover-icon.btn.btn-icon {
    visibility: hidden;
}

.widget-list-content:hover .widget-list-hover-icon.btn.btn-icon,
.widget-list-content:focus .widget-list-hover-icon.btn.btn-icon {
    visibility: visible;
}

.icon-link-text-muted {
    color: #a2a2a2 !important;
}

a.icon-link-text-muted:hover {
    color: #c8c8c8 !important;
}

.overflow-visible {
    overflow: visible;
}

.visibility-hidden {
    visibility: hidden !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.sidebar .nav .sub-menu > li.expand > a {
    color: #fff;
}