:root {
    --sidebar-width: 250px;
    --header-height: 50px;
    --sidebar-hidden-transition-time: 0.4s;
    --base-font-size: 0.875rem;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: var(--base-font-size);
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-align: left;
    background-color: white;
}
/* SIDEBAR CLASSES */
.sidebar {
    width: var(--sidebar-width);
    position: fixed;
    left: 0;
    bottom: 0;
    border-right: 1px solid lightgray;
    background: #ececec;
    z-index: 1010;
    transition: var(--sidebar-hidden-transition-time);
}
.page-header-fixed .sidebar {
    top: var(--header-height);
}
.page-sidebar-hidden .sidebar {
    left: calc(var(--sidebar-width) * -1);
    transition: var(--sidebar-hidden-transition-time);
}
/* HEADER CLASSES */
.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1020;
    margin-bottom: 0;
    padding: 0;
    background-color: white;
    border-bottom: 1px solid #f1f1f1;
    height: var(--header-height);
    position: fixed;
}

.header-logo {
    padding: 10px 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #000;
}

.header-logo b {
    font-weight: 700;
}

.header-logo:focus,
.header-logo:hover {
    text-decoration: none;
    color: #000;
}

/* CONTENT CLASSES */
.content {
    position: relative;
    left: var(--sidebar-width);
    max-width: calc(100vw - var(--sidebar-width));
    padding: 20px 30px;
    transition: var(--sidebar-hidden-transition-time);
}
.page-header-fixed .content {
    top: var(--header-height);
}
.page-without-sidebar .content {
    left: 0;
}
.page-sidebar-hidden .content {
    left: 0;
    max-width: 100vw;
    transition: var(--sidebar-hidden-transition-time);
}

/* BUTTONS */
.btn-white {
    background-color: white;
}
.btn-white:hover {
    background-color: #e1e1e1;
    border-color: #c8c8c8;
}

/* MODIFICATIONS TO BOOTSTRAP DROPDOWN*/
.dropdown-item,
.dropdown-item-text {
    font-size: var(--base-font-size);
}


/* Utility classes, mostly left from adjusting color admin */
.cursor-pointer {
    cursor: pointer;
}
.width-half {
    width: 50% !important;
}

.p-l-45 {
    padding-left: 45px !important;
}

.p-l-60 {
    padding-left: 60px !important;
}

.m-t-16 {
    margin-top: 16px !important;
}

.m-x-10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.table tfoot tr td {
    font-weight: 600;
    border-top: 1px solid #aeaeae;
}

.table-nested tbody > tr:first-child td {
    border-top: none !important;
}

.width-125 {
    width: 125px !important;
}

.width-150 {
    width: 150px;
}

.width-175 {
    width: 175px !important;
}

.width-10ch {
    width: 10ch !important;
}

.widget-list-content .widget-list-hover-icon.btn.btn-icon {
    visibility: hidden;
}

.widget-list-content:hover .widget-list-hover-icon.btn.btn-icon,
.widget-list-content:focus .widget-list-hover-icon.btn.btn-icon {
    visibility: visible;
}

.icon-link-text-muted {
    color: #a2a2a2 !important;
}

a.icon-link-text-muted:hover {
    color: #c8c8c8 !important;
}

.overflow-visible {
    overflow: visible;
}

.visibility-hidden {
    visibility: hidden !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.sidebar .nav .sub-menu > li.expand > a {
    color: #fff;
}

.bg-white-hover {
    background-color: #f3f3f3 !important;
}

.bg-light-hover {
    background-color: #e0e0e0 !important;
}

.rotating-caret {
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    font-size: 11px;
    border: none;
    font-family: "Font Awesome 5 Free", "Font Awesome 5 Pro", "FontAwesome" !important;
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}
.rotating-caret:before {
    content: "\f054";
    display: block;
    text-align: center;
    opacity: 0.5;
    transition: all 0.2s linear;
}
.expand.rotating-caret:before{
    opacity: 1;
    transform: rotate(90deg);
}

.border-bottom-d5d5d5 {
    border-bottom: 1px solid #d5d5d5;
}

.border-top-d5d5d5 {
    border-top: 1px solid #d5d5d5;
}

a.bg-light.nohover:hover,
a.bg-light.nohover:focus {
    background-color: #f9f9f9 !important
}

@keyframes slide-in {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
}
.slide-in {
    animation-name: "slide-in";
    animation-duration: 0.15s;
    position: relative;
}
