:root {
    --sidebar-width: 250px;
    --header-height: 50px;
    --sidebar-hidden-transition-time: 0.4s;
    --larger-font-size: 1rem;
    --base-font-size: 0.875rem;
    --compact-font-size: 0.75rem;
    --base-text-color: #000;
    --sidebar-text-color: #555;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: var(--base-font-size);
    font-weight: 400;
    line-height: 1.5;
    color: var(--base-text-color);
    text-align: left;
    background-color: white;
}
/* SIDEBAR CLASSES */
.sidebar {
    width: var(--sidebar-width);
    position: fixed;
    left: 0;
    bottom: 0;
    border-right: 1px solid lightgray;
    background: #ececec;
    z-index: 1010;
    transition: var(--sidebar-hidden-transition-time);
}
.page-header-fixed .sidebar {
    top: var(--header-height);
}
.page-sidebar-hidden .sidebar {
    left: calc(var(--sidebar-width) * -1);
    transition: var(--sidebar-hidden-transition-time);
}

.sidebar-header {
    margin: 0;
    padding: 15px 20px 3px;
    line-height: 20px;
    font-size: 0.75rem;
    color: gray;
    font-weight: 600;
}

.sidebar-item {
    padding: 3px 20px;
    margin: 1px 12px;
    border-radius: 5px;
    color: var(--sidebar-text-color);
    display: block;
}
.sidebar-item i {
    color: var(--primary);
    display: inline-block;
    width: 25px;
}
.sidebar-item:hover {
    color: var(--sidebar-text-color);
    background-color: lightgray;
    text-decoration: none;
}
.sidebar-item.active {
    background-color: var(--primary);
    color: white;
}
.sidebar-item.active i {
    color: white;
}

/* PAGE HEADER CLASSES */
.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1020;
    margin-bottom: 0;
    padding: 0;
    background-color: white;
    border-bottom: 1px solid #f1f1f1;
    height: var(--header-height);
    position: fixed;
}

.header-logo {
    padding: 10px 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #000;
}

.header-logo b {
    font-weight: 700;
}

.header-logo:focus,
.header-logo:hover {
    text-decoration: none;
    color: #000;
}

@media (max-width: 575.98px) {
    .easyledgers-dropdown-text{
        display: inline-block;
        width: 125px;
    }
}

/* CONTENT CLASSES */
.content {
    position: relative;
    left: var(--sidebar-width);
    max-width: calc(99vw - var(--sidebar-width));
    padding: 20px 30px;
    transition: var(--sidebar-hidden-transition-time);
}

@media (max-width: 767.98px) {
    .content{
        left: 0;
        max-width: 100vw;
    }
}

.page-header-fixed .content {
    top: var(--header-height);
}
.page-without-sidebar .content {
    left: 0;
}
.page-sidebar-hidden .content {
    left: 0;
    max-width: 100vw;
    transition: var(--sidebar-hidden-transition-time);
}

/* MODIFICATIONS AND ADDITIONS TO BOOTSTRAP BUTTONS */
.btn {
    font-size: var(--base-font-size);
    font-weight: 500;
}
.btn-white {
    background-color: #fff;
    border-color: #c8c8c8;
}
.btn-white:hover {
    background-color: #e1e1e1;
    border-color: #c8c8c8;
}
.btn-default {
    background-color: #fff;
    border-color: #d5d5d5;
}
.btn-default:hover {
    background-color: #eee;
    border-color: #d5d5d5;
}

/* MODIFICATIONS TO BOOTSTRAPFORMS */
.form-control {
    font-size: var(--base-font-size);
}


/* MODIFICATIONS TO BOOTSTRAP DROPDOWN*/
.dropdown-item,
.dropdown-item-text {
    font-size: var(--base-font-size);
}

/* MODIFICATIONS TO BOOTSTRAP MODAL */
.modal-content {
    border-radius: 10px;
}

/* MODIFICATIONS TO BOOTSTRAP PILLS */
a.nav-link {
    color: #6f6f6f;
    font-weight: 500;
    font-size: var(--base-font-size);
}
a.nav-link:hover {
    text-decoration: none;
    color: var(--base-text-color);
}

/* MODIFICATIONS TO BOOTSTRAP TABLE */
.table {
    margin-bottom: 0;
}

/* PSEUDO-TABLE UTILITIES */
.table {
    border-collapse: collapse !important;
}

.th {
    font-weight: 600;
    padding: .75rem;
}
.td {
    padding: .75rem;
}
.tr {
    border-top: #dadada 1px solid;
}
.tr:first-child {
    border-top: none;
}

.tfoot{
    border-top: silver 1px solid;
    font-weight: 600;
}
a.tr {
    color: var(--base-text-color);
}
a.tr:hover {
    text-decoration: none;
    color: var(--base-text-color);
    background-color: #e1e1e1;
}
.striped-row {
    display: flex;
    padding: .75rem;
    border-radius: 5px;
}
.striped-row:nth-child(odd) {
    background-color: var(--light);
}

.striped-row:nth-child(even) {
    background-color: white;
}


/* Utility classes, mostly left from adjusting color admin */
.very-rounded {
    border-radius: 10px;
}

.border-inherit {
    border: inherit;
}

.font-size-larger {
    font-size: var(--larger-font-size);
}

.font-size-standard {
    font-size: var(--base-font-size);
}

.font-size-compact {
    font-size: var(--compact-font-size);
}

.indent {
    padding-left: 3em;
}
.indent-2 {
    padding-left: 6em;
}
.indent-3 {
    padding-left: 9em;
}
.indent-4 {
    padding-left: 12em;
}

.cursor-pointer {
    cursor: pointer;
}

.width-125 {
    width: 125px !important;
}

.width-150 {
    width: 150px;
}

.width-175 {
    width: 175px !important;
}

.width-10ch {
    width: 10ch !important;
}

.overflow-visible {
    overflow: visible;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.bg-white-hover {
    background-color: #f3f3f3 !important;
}

.bg-light-hover {
    background-color: #e0e0e0 !important;
}

.rotating-caret {
    opacity: 0.5;
    transition: all 0.2s linear;
}
.rotating-caret.expand{
    opacity: 1;
    transform: rotate(90deg);
}

@keyframes slide-in {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
}
.slide-in {
    animation-name: "slide-in";
    animation-duration: 0.15s;
    position: relative;
}

/* LOGIN AND REGISTRATION PAGES */
.login-page {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;   
    background-size: cover;
    background-repeat: no-repeat;
}
.login-left {
    width: 100%;
}
.login-right {
    min-width: 500px;
    width: 500px;
    padding: 60px;
    height: 100%;
    background-color: white;
    z-index: 1;
}
@media (max-width: 1199.98px) {
    .login-right {
        min-width: 400px;
        width: 400px;
        padding: 45px;
    }
}
@media (max-width: 767.98px) {
    .login-left {
        display: none;
    }
    .login-right {
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .login-right {
        padding: 30px;
    }
}

.login-left-caption {
    color: rgba(255, 255, 255, 0.85);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 60px 60px 30px;
    font-size: 18px;
    letter-spacing: 0.25px;
    font-weight: 300;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 100%);
    z-index: 0;
}
.login-left-caption-title {
    font-weight: 300;
    color: #fff;
    font-size: 36px;
}
.login-left-caption-title b {
    font-weight: 700;
}
@media (max-width: 1199.98px) {
    .login-left-caption {
        padding: 45px 45px 30px;
        font-size: 16px;
    }
    .login-left-caption-title {
        font-size: 28px;
    }
}

.login-header {
    padding-top: 30px;
    font-size: 28px;
    color: black;
    font-weight: 300;
}
.login-header b {
    font-weight: 700;
}
@media (max-width: 767.98px) {
    .login-header {
        font-size: 20px;
    }
}
